/* Apply background color to the entire page */
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #1f2a35; /* Light background color */
}

/* General container styling */
.container-fluid {
  display: flex;
  min-width: 1200px; /* Ensures horizontal scroll when screen is narrower */
  flex-direction: column;
  background-color: #1f2a35; /* Light background for main content */
  min-height: 100vh;
}
.row {
  display: flex;
  flex-direction: row; /* Ensure content flows horizontally */
  width: 100%;
}

/* Sidebar styling */
.sidebar {
  width: 20%; /* Sidebar takes 20% of screen width */
  min-width: 200px; /* Minimum width of the sidebar */
  background-color: #1f2a35; /* Dark background for sidebar */
  color: #ffffff; /* Light text color */
  padding: 1rem;
  overflow-y: auto; /* Enables vertical scroll if content exceeds sidebar height */
}

/* Main content area styling */
.main-content {
  width: 70%; /* Main content takes the remaining 70% */
  overflow-x: auto; /* Allows horizontal scroll when needed */
  padding: 1rem;
  margin-right: 10%;
}

/* If the user is not logged in, make main content full width and center it */
.full-width-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Center content vertically on full screen */
  background-color: #1f2a35;
}

/* Styling for form container */
.form-container {
  width: 800px;
  max-width: 90%;
  align-self: flex-start;
  margin-left: 0;
}

/* Form input fields */
.form-control {
  font-size: 16px;
}

/* Buttons */
.btn {
  height: 45px;
  font-size: 16px;
}

/* Adjust the input label spacing */
.form-label {
  font-weight: bold;
  margin-bottom: 8px;
}
